<body >
    <div style="background-color: blueviolet; text-align: center; " >

        <div style="margin: 0%;;">
            <br/>
            
            <form>
                <br>
                <br>
                <h4>Ingrese usuario</h4>
                <div class="form-group col-md-3">
        
                    <input type="email" name="email" placeholder="Email" class="form-control " style="border-radius: 7px;width: 250px; height: 27px; ">
        
                </div>
                <br>
                <br>
                <h4>Ingrese contrasena</h4>
                <div>
        
                    <input type="password" name="password" placeholder="Password" class="form-control" style="border-radius: 7px; width: 250px; height: 27px;">
        
                </div>
                <br/>
                <br/>
        
                <div>
                    
                    <button type="submit" class="btn success" style="color: white;">Login</button>
                </div>
        
        
            </form>
            <br>
        </div>
        <br>
    </div>

</body>

