<body>
    <div>
        
    </div>
    <div style="background-color: black;">
        <div>
            <p >ABOUT</p><br>
            <br>
            <p>
                Lorem ipsum dolor sit amet,<br>
                consectetur adipisicing elit, sed do<br>
                eiusmod tempor incididunt ut<br>
            </p>
            <br>
            <p> 
                1734 Stonecoal Road<br><br>
                +021-95-51-84
            </p>
            
        </div>

        <div>
            <P>CATEGORIES</P>
            <p>Hot deals<br><br>
                Laptops<br><br>
                Smarphones<br><br>
                Cameras
            </p>
        </div>

        <div>
            <P>INFORMATION</P>
            <p>
                About Us<br><br>
                Contact Us<br><br>
                Privacy Policy<br><br>
                Orders and Returns
            </p>

            <div>
                <P>SERVICE</P>
                <p>
                    My Account<br><br>
                    View Cart<br><br>
                    Wishlist<br><br>
                    Track My Order
                </p>
            </div>
        </div>
    </div>
</body>

